.Home__ColumnContainer {
    margin-top: 100px;
    align-items: flex-start;
}

.Home__Column {
    margin: 10px;
}

.Home__ColumnItem {
    margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .Home__ColumnContainer {
        margin-top: 30px;
    }
}